/**
 * Page styling
 */
body {
    background : #fff;
    padding    : 180px 75px;
    font       : 1.2em/2em 'Open Sans', sans-serif;
    color      : #4D5159;
}

a {
  color: #fd6c5d;
  text-decoration: none;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'Inconsolata', monospace;
  line-height : 1em;
  color       : #3B3E45; /*373a40*/
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin: 2.5em 0 -0.1em 0;
}

h3 {
  font-size: 1.5em;
  margin: 1.2em 0 -0.2em 0;
}

*::selection {
    background : #fd6c5d;
    color: #fff;
}

*::-moz-selection {
    background : #fd6c5d;
    color: #fff;
}

/**
 * Layout
 */
 #post {
   max-width : 780px;
   margin    : 0 auto;
 }

 @media only screen and (max-width : 736px) {
     body{
       padding: 10px;
     }
 }
